$layout-name: l-comments;

.#{$layout-name} {
	@include content;

	&__header {
		display: grid;
		gap: rem(10);
		place-items: center;
		width: 100%;
	}

	&__title {
		font-size: rem(24);
		font-weight: bold;
		justify-content: center;
		line-height: rem(27);
		margin: 0 auto;
		max-width: rem(500);
		text-align: center;
		width: 100%;
	}

	&__card {
		display: grid;
		gap: $global-module-size / 2;
		grid-template-columns: 80px calc(100% - 80px);

		&.parent {
			padding: $global-module-size;
		}
	}

	&__card-main {
		display: flex;
		flex-direction: column;
		gap: $global-module-size / 2;
		grid-column: 2;
	}

	&__card-header,
	&__card-content {
		display: flex;
		flex-direction: column;
	}

	&__card-content {
		display: flex;
		flex-direction: column;
		gap: $global-module-size / 2;
	}

	&__card-date {
		font-size: rem(12);
	}

	&__avatar {
		display: grid;
		grid-column: 1;
		place-items: center;

		img {
			border-radius: 50%;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		list-style-type: none;
		margin-bottom: $global-module-size;
		width: 100%;

		&>.#{$layout-name}__list-item {
			&::after {
				background-color: var(--theme-color-1);
				content: "";
				display: block;
				height: rem(2);
				width: 100%;
			}
		}

		.children {
			.#{$layout-name}__list-item {
				padding-bottom: $global-module-size;
				padding-left: $global-module-size;

				.#{$layout-name}__avatar {
					position: relative;

					&::before {
						content: "⤴";
						display: block;
						font-size: rem(20);
						left: -25px;
						position: absolute;
						top: 20px;
						transform: rotate(90deg);
					}
				}

				@include breakpoint(400) {
					padding-left: rem(50);
				}
			}
		}
	}

	&__cancel-reply {
		color: var(--theme-color-6);
		cursor: pointer;
		opacity: 0;
		transition: var(--theme-default-transition);
		visibility: hidden;

		&.is-visible {
			opacity: 1;
			visibility: visible;
		}

		&:hover {
			color: red;
		}
	}

	&__form {
		display: grid;
		place-items: center;
		width: 100%;

		.c-form {
			max-width: rem(500);
		}
	}
}
