$layout-name: l-comments;

.#{$layout-name} {
	@include content;

	&__header {
		@include col(12);
	}

	&__title {
		text-align: center;
	}

	&__list {
		@include col(12);
		list-style-type: none;
		& .comment {
			display: flex;
			flex-direction: column;

			& .comment-body {
				display: grid;
				grid-template-columns: rem(84) calc(100% - 84px);
				margin-bottom: $global-module-size;

				& .comment-author {
					align-items: center;
					display: flex;
					grid-column: 1 / 3;
					justify-content: flex-start;

					& img {
						border-radius: 50%;
						margin-right: rem(10);
					}
					// Autot
					& .fn {
						margin-right: rem(5);
						& a {
							color: var(--theme-color-1);
							transition: 0.15s linear;
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
				& .comment-meta {
					font-size: rem(12);
					grid-column: 2;
					& .comment-edit-link {
						transition: 0.15s linear;
						&:hover {
							color: var(--theme-color-1);
							text-decoration: underline;
						}
					}
				}
				& p {
					// O Comentário
					grid-column: 2;
					margin: rem(10) 0;
				}

				& .reply {
					display: flex;
					grid-column: 2;
					& .comment-reply-link {
						@include c-button;
						@include c-button--outline;
						font-size: rem(12);
					}
				}
			}
		}
		& .children {
			display: flex;
			flex-direction: column;
			margin-top: $global-module-size;
			& .comment {
				padding-left: rem(20);
				position: relative;
				&::before {
					content: "⤴";
					display: block;
					font-size: rem(20);
					left: 0;
					position: absolute;
					top: rem(20);
					transform: rotate(90deg);
				}

				@include breakpoint(400) {
					padding-left: rem(50);
				}
			}
		}
	}

	& .comment-reply-title {
		align-items: center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		font-size: rem(24);
		font-weight: bold;
		justify-content: center;
		line-height: rem(27);
		margin-bottom: $global-module-size * 2;
		text-align: center;
		width: 100%;
		// Link para responder comentário
		& > a {
			font-weight: bold;
			margin-left: rem(5);
			transition: 0.15s linear;
			&:hover {
				color: var(--theme-color-1);
			}
		}
		// Cancelar Resposta
		& small {
			flex-basis: 100%;
			& a {
				color: var(--theme-color-1);
				transition: 0.15s linear;
				&:hover {
					color: red;
				}
			}
		}
	}

	&__form {
		@include col(12);

		& .c-form {
			display: flex;
			flex-direction: column;
			margin-left: auto;
			margin-right: auto;
			max-width: rem(500);

			& .comment-notes,
			& .logged-in-as {
				font-size: rem(12);
				margin-bottom: $global-module-size;
			}

			& .logged-in-as {
				& a {
					&:hover {
						color: var(--theme-color-6);
						transition: 0.15s linear;
					}
					&:nth-child(2) {
						color: var(--theme-color-6);
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}

			& .comment-form-author {
				order: 0;
			}
			& .comment-form-email {
				order: 1;
			}
			& .comment-form-comment {
				order: 2;
			}

			& .comment-form-cookies-consent {
				align-items: center;
				display: flex;
				margin-bottom: $global-module-size;
				order: 3;
				& input {
					flex-basis: 8%;
					justify-self: flex-start;
					margin: 0;
				}
				& label {
					flex-basis: 90%;
					margin: 0;
					padding-left: rem(5);
				}
			}
			& .form-submit {
				display: flex;
				justify-content: flex-end;
				order: 4;
				& .c-button {
					flex-basis: rem(60);
				}
			}
		}
	}
}
