$component-name: c-button;

$button-font-family: $font-family-1;

@mixin c-button {
	border: 0;
	border-radius: 0;
	cursor: pointer;
	font-family: $button-font-family, sans-serif;
	font-weight: 500;
	transition: 0.15s linear;
	&:focus,
	&:active {
		border: none;
		border-radius: 0;
		box-shadow: none;
		outline: 1px solid darken($theme-color-4, 15%);
	}
}

@mixin c-button--outline {
	background-color: inherit;
	border: 1px solid var(--text-color-1);
	color: var(--text-color-1);
	padding: rem(7) rem(14);
	&:hover,
	&:focus,
	&:active {
		border: 1px solid darken($theme-color-1, 10%);
		color: darken($theme-color-1, 10%);
		outline: none;
	}
}
.#{$component-name} {
	@include c-button;
}

.#{$component-name}--outline {
	@include c-button--outline;
}
