$component-name: c-backtotop;
$backtotop-hover-color: $theme-color-1;

/*<a class="js-backtotop c-backtotop"></a>*/
.#{$component-name} {
	align-items: center;
	background-color: var(--theme-color-1);
	bottom: 0;
	cursor: pointer;
	display: flex;
	height: rem(60);
	justify-content: center;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	right: 0;
	transition: 200ms linear;
	width: rem(60);
	z-index: z-index("backtotop");

	@include breakpoint(600) {
		bottom: rem(30);
		height: rem(80);
		right: rem(30);
		width: rem(80);
	}

	&::before {
		color: var(--text-color-2);
		font-size: rem(40);
		transform: rotate(-90deg);
		z-index: z-index("backtotop") + 2;
	}

	&::after {
		align-items: center;
		background-color: var(--text-color-2);
		border: 1px solid var(--text-color-2);
		color: var(--text-color-1);
		content: "";
		display: flex;
		height: 100%;
		justify-content: center;
		position: absolute;
		transform: scaleY(0);
		transform-origin: bottom;
		transition: 300ms ease all;
		width: 100%;
		z-index: z-index("backtotop") + 1;
	}

	&:hover {
		&::before {
			color: var(--text-color-1);
		}
		&::after {
			box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
			transform: scaleY(1);
		}
	}

	&.is-visible {
		opacity: 1;
		pointer-events: initial;
	}
}
