$component-name: c-carousel;

.#{$component-name} {
	padding-bottom: $global-module-size * 2;

	.splide__arrows {
		display: none;
	}

	.splide__pagination {
		align-items: center;
		display: flex;
		justify-content: center;
		padding-top: $global-module-size;

		&__page {
			outline: 1px solid var(--theme-color-2);

			&.is-active {
				background-color: var(--theme-color-1);
				outline: 1px solid var(--theme-color-6);
			}
		}
	}

	&__item {
		min-height: rem(200);
		padding: $global-module-size / 2;

		a {
			align-items: center;
			display: flex;
			height: 100%;
			justify-content: center;
		}
	}
}
