$component-name: c-form;

.#{$component-name},
.wpcf7-form {
	// Plugin Contact Form 7
	@include breakpoint(700) {
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 1fr 1fr;

		p:has(label textarea) {
			grid-column: 1 / 3;
		}
	}

	p {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	label {
		display: flex;
		flex-direction: column;
		font-size: rem(14);
		margin-bottom: rem(5);
		width: 100%;

		br {
			display: none;
		}

		.wpcf7-not-valid-tip {
			font-size: rem(12);
			font-weight: bold;
		}
	}

	textarea,
	input:not([type="submit"]),
	select {
		background-color: var(--theme-color-4);
		border: none;
		border-radius: 0;
		margin-bottom: rem(10);

		&::placeholder {
			color: $text-color-3;
			font-family: Montserrat, sans-serif;
			text-transform: uppercase;
		}

		&:focus,
		&:active {
			border: none;
			border-radius: 0;
			box-shadow: none;
			outline: 2px solid darken($theme-color-4, 15%);
		}
	}

	input[type="submit"] {
		@include c-button;
		@include c-button--outline;
		max-width: rem(100);
	}

	.wpcf7-response-output {
		border-color: var(--theme-color-1) !important;
		margin: 0 !important;
	}

	.ajax-loader {
		background-color: var(--theme-color-1);
	}
}
