$component-name: c-form;

.#{$component-name} {
	display: flex;
	flex-direction: column;

	&__label {
		display: flex;
		flex-direction: column;
		font-size: rem(14);
		position: relative;
		width: 100%;
	}

	&__actions {
		display: flex;
		gap: $global-module-size;
	}

	textarea,
	input:not([type="submit"]),
	select,
	option {
		background-color: var(--theme-color-4);
		border: none;
		border-radius: 0;
		font-size: rem(16);
		margin-bottom: rem(10);

		&::placeholder {
			color: $text-color-3;
			font-family: Montserrat, sans-serif;
			text-transform: uppercase;
		}

		&:focus,
		&:active {
			border: none;
			border-radius: 0;
			box-shadow: none;
			outline: 2px solid darken($theme-color-4, 15%);
		}
	}

	&__group {
		display: grid;

		@include breakpoint(600) {
			gap: $global-module-size;
			grid-template-columns: 1fr 1fr;
		}
	}
}
